body {
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 43px;

}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: thistle;
    padding: 13px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
img{
    width: 130px;
    height: 125px;
    
}

p{
    text-align: center;
    font-size: 23px;
}

